apiVersion: apps/v1
kind: Deployment
metadata:
  name: odoo
  namespace: odoo
  labels:
    app: odoo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: odoo
  template:
    metadata:
      labels:
        app: odoo
    spec:
      containers:
        - name: odoo
          image: odoo:17.0
          ports:
            - containerPort: 8069
          env:
            - name: HOST
              value: odoo-postgres
            - name: PORT
              value: "5432"
            - name: USER
              valueFrom:
                secretKeyRef:
                  name: odoo-secret
                  key: POSTGRES_USER
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: odoo-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: odoo-data
              mountPath: /var/lib/odoo
            - name: odoo-addons
              mountPath: /mnt/extra-addons
      volumes:
        - name: odoo-data
          emptyDir: {}
        - name: odoo-addons
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: odoo
  namespace: odoo
  labels:
    app: odoo
spec:
  type: ClusterIP
  selector:
    app: odoo
  ports:
    - port: 8069
      targetPort: 8069
